.title {
    display: inline;
    font-size: 3em;
    text-align: center;
    border: solid 3px darkorange;
}

header p {
    display: inline;
    background-color: dimgray;
    color: whitesmoke;
    border: solid 3px darkorange;
    width: 600px;
    position: absolute;
    margin-left: 14%;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    letter-spacing: 5px;
    border-radius: 15px;
}

nav {
    text-align: center;
    word-spacing: 30px;
    font-family: "Franklin Gothic Medium", sans-serif, Serif;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    border: solid 3px darkorange;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:link:hover {
    color: whitesmoke;
    background-color: dimgray;
}

a:visited:hover {
    color: whitesmoke;
    background-color: dimgray;
}

div {
    text-align: center;
    font-size: 20px;
    font-family: "Calibri Light";
    border: solid 3px darkorange;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkorange;
    width: 50%;
    transition-property: width;
    transition-duration: 2s;
}

table:hover {
    width: 100%;
}

th {
    border-bottom: 2.5px solid black;
}

td {
    border-bottom: 1.5px solid black;
}

#row {
    border-right: 1.5px solid black;
}

ol {
    border: 3px solid darkorange;
    list-style-type: upper-roman;
}

#name {
    border-bottom: 2px solid black;
}

ul {
    list-style-type: disc;
}

div#about {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

#block {
    float: right;
    width: 300px;
    font-size: 90%;
    font-style: italic;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
}
